<!DOCTYPE html>
<html>
  <head>
    <title>Note</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.designfreelogoonline.com/wp-content/uploads/2017/07/000856-Wolf-head-logo-maker-01.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script>
        window.currentUser = {
          username: "<%=current_user.username %>",
          id: <%=current_user.id %>,
          email: "<%=current_user.email%>",
          default_notebook: <%=current_user.default_notebook%>
      }
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
